<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Dosis:400,500,700&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/master.css">
</head>

<body>
    <section id="header">
        <div class="container">
            <h1 id="header-heading">
                <a href="#/">e i h n i m</a>
            </h1>
            <div id="header-menu">
                <nav class="navbar navbar-default">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
                        <ul id='ul-navbar' class="nav navbar-nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">Tags</a></li>
                            <li><a href="#">About</a></li>
                            <!-- <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li class="dropdown-header">Nav header</li>
                                    <li><a href="#">Separated link</a></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li> -->
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </nav>
            </div>
        </div>
    </section>
    <section id="body">
        <div class="container">
            <article>
                <div class="article-heading article-component">
                    <h1>
                        <a href="#/">
                            this is heading this is heading this is heading this is heading
                        </a>                     
                    </h1>
                </div>
                <div class="article-info article-component">
                        <span class="info-time">July-16-2019 20:51</span>
                    <span class="info-hashtag"><a href="#/">#hashtag1</a></span>
                    <span class="info-hashtag"><a href="#/">#hashtag2</a></span>
                    <span class="info-hashtag"><a href="#/">#hashtag3</a></span>
                </div>
                <div class="article-shortdescription article-component">
                    <p>
                       Short Description Short Description Short Description Short Description
                       Short Description Short Description Short Description Short Description
                       Short Description Short Description Short Description Short Description
                       Short Description Short Description Short Description Short Description
                    </p>
                </div>
                <div class="article-thumbnail article-component">
                    <img src="img/thumbnail1.png">
                </div>
            </article>
            <hr>
            <article>
                    <div class="article-heading article-component">
                        <h1>
                            <a href="#/">
                                this is heading this is heading this is heading this is heading
                            </a>                     
                        </h1>
                    </div>
                    <div class="article-info article-component">
                        <span class="info-time">July-16-2019 20:51</span>
                        <span class="info-hashtag"><a href="#/">#hashtag1</a></span>
                        <span class="info-hashtag"><a href="#/">#hashtag2</a></span>
                        <span class="info-hashtag"><a href="#/">#hashtag3</a></span>
                    </div>
                    <div class="article-shortdescription article-component">
                        <p>
                           Short Description Short Description Short Description Short Description
                           Short Description Short Description Short Description Short Description
                           Short Description Short Description Short Description Short Description
                           Short Description Short Description Short Description Short Description
                        </p>
                    </div>
                    <div class="article-thumbnail article-component">
                        <img src="img/thumbnail1.png">
                    </div>
                </article>
        </div>
    </section>
    <section id="footer">
        <hr>
        <div class="container">
            <h3>
                from Nguyen Minh Hieu with <i class="fa fa-heart"></i>
            </h3>
        </div>
    </section>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>